div.Titulo {
    background-color: plum;
    text-align: center;
    text-shadow: 1px 2px 2px purple;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    height: 110px;
    margin: 20px;
}


button.inicio {
    background-color: rgb(231, 209, 231);
    color: linen;
    width: 500 px;
    font-size: 20px;
    border-style:dashed;
    border-color: plum;
    text-shadow: 1px 2px 2px plum;
    border-width: 1px;
    border-radius: 10px; 
    position:-webkit-sticky;
}

.botones {
    background-color:honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.lista {
    color: purple;
    margin-right: auto;
    margin-left: auto;
    border-color:honeydew;
    text-shadow: 1px 2px 2px plum;
    border-width: 1px;
    border-radius: 10px; 
    font-size: 20px;
}

.promocion {
    background-color: honeydew;
    text-align: center;
    font-size: 40px;
    margin: 20px 20px;

}

.promocion p{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.galeria1 {
    background-color: plum;
    margin: 10px 20px;
    box-shadow: 0 4px 8px lightgrey, 0 6px 20px 0 rgb(40, 37, 43);
    float: left;
    width: 350px;
}
div.galeria1 img{
    width: 100%;
    height: 350px;
}

div.galeria2 {
    background-color:plum;
    margin: 10px 20px;
    box-shadow: 0 4px 8px lightgrey, 0 6px 20px 0 rgb(40, 37, 43);
    float: left;
    width: 350px;
}
div.galeria2 img{
    width: 100%;
    height: 350px;
}

div.galeria3 {
    background-color: plum;
    margin: 10px 20px;
    box-shadow: 0 4px 8px lightgrey, 0 6px 20px 0 rgb(40, 37, 43);
    float: left;
    width: 350px;
}
div.galeria3 img{
    width: 100%;
    height: 350px;
}

div.galeria:hover{
    border: 1px solid lightslategray;
}

div.pie {
    text-align: center;
    padding: 10px;
    color: purple;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 2px 2px palevioletred;
    font-size: large;
}

div.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: honeydew;
}

img.carrete {
    height: 400px;
    width: 400px;
}
section.final {
    height: auto;
    text-align: center;
}